/* Styles for the Advanced Markup assignment. */

/* Aside Styles. */

#sidebar{
    float: right;
    width:25%;
    background: beige;
    margin: 20px;
    padding: 10px;
    border-style:solid;
    border: 5px, black;
}

dt {
    font-weight: 900;
}

dd{
    text-align: center;
    font-weight: 300; 
}

.bio-photo{
    width:25%;
    float: left;
    background: beige;
    margin: 10px;
    padding: 5px;
}
.bio-photo img {
    width: 100%;
    height: auto;
}
nav ul li{
    display: inline;
    border: solid 1px black;
    padding: 7px;
}
nav ul li :hover {
    background-color: yellow;
}

nav ul li a:link, a:visited {
    color:black
}

.active{
    font-weight: 900;
    background: beige;
    padding: 7px;    
}

/* Styles for the Advanced Markup assignment. */
/*styles for the table*/

table {
    width: 100%; 
    text-align: left;
    background:beige;
}

dt {
    font-weight:900;
    text-align:left;
}

.header {
    font-style:italic;
}

/* styles for the poem*/
.poem {
    list-style-type: none;
}
.poem ::first-letter {
    font-size: 110%;
    color: black;
    font-style: italic;
    }